@charset "utf-8";

// ********************************************************* //
// //
// ********************************************************* //

ul.nav {
  font-size: 0.9em;
  border-bottom: 1px dotted lighten($gray, 60%);
  li {
    display: inline;
    padding: 5px;
    a {
      color: lighten($gray, 50%);
      border-bottom: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}