@charset "utf-8";

$font: 'Dosis', sans-serif;

$regular: 200;
$bold: 600;
$heavy: 700;

$gray: #161616;
$highlight: #FF5630;
$bluish: #CED4F4;
$grayred: #FCE3DA;

// ********************************************************************* //
// GLOBAL STYLES                                                         //
// ********************************************************************* //

body {
  color: $gray;
  background-color: #FDFFFF;
  padding: 3% 0;
  font-family: $font;
  font-weight: $regular;
  font-size: 1.75rem;
}

a {
  border-bottom: 1px dotted lighten($gray, 60%);
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $highlight;
  }
  &.highlight {
    color: $highlight;
    border-bottom: 0px;
    &:hover {
      color: $gray;
    }
  }
}

pre, code {
  font-family: "Droid Sans Mono", "Source Code Pro", monospace;
}

pre.highlight {
  padding: 10px 20px;
  font-size: 0.7em;
  line-height: 1.6em;
  width: 1000px;
  margin-left: -80px;
}

.code {
  line-height: initial;
}

.intro {
  background-color: $bluish;
  border: 1.5px solid black;
  font-size: 2.25em;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 25px;
  .badges {
    font-size: 0.5em;
    text-align: center;
    a {
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.article {
  border-left: 2px solid black;
  margin: 0 auto;
  max-width: 840px;
  padding: 0px 3%;
  font-size: .75em;
  margin-bottom: .25rem !important; 
  p {
    font-size: 1em;
  }
}

.header, .content, .article-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0px 3%;
}

.meta {
  font-size: 0.90em;
  color: #C14D28
}

ul.navigation {
  font-size: 1.4em;
  border-bottom: 1px dotted black;
  li {
    display: inline;
    padding: 5px;
    a {
      color: black;
      border-bottom: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}
