<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>chase stephens <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="navbar">
      
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>