---
layout: home
---

<div class="content">
  <div class="intro">
    <span>Chase Stephens - Diaries of a Tall Guy</span>
    <div class="badges">
      <a href="https://www.linkedin.com/in/chase-stephens/" target="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
      <a href="https://github.com/chastep" target="#"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
      <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>
    </div>
  </div>

  <div class="latest">
    <h2>Blog Posts</h2>
    <% most_recent(blog.articles, "blog", 5).each do |article| %>
      <div class="article">
        <h3><%= link_to article.title, article %></h3>
        <p><%= article.date.strftime('%B %d, %Y') %></p>
        <%= article.summary %>
      </div>
    <% end %> 
  </div>
</div>