---
layout: home
---



<div class="latest">
  <h2>
    Writing
  </h2>
  <% most_recent(blog.articles, "blog", 5).each do |article| %>
    <div class="article">
      <p>
        <%= article.date.strftime('%B %d, %Y') %>
      </p>
      <h3>
        <%= link_to article.title, article %>
      </h3>
      <%= article.summary %>
    </div>
  <% end %> 
</div>
