---
layout: home
---


<div class="content">
  <br>
  <%= image_tag 'water.jpg', :id => "ocean", :title => "https://www.reddit.com/r/itookapicture/comments/6f0yno/itap_of_dark_ocean_texture/" %>
  <br>
  <h3>Recent Posts</h3>
  <% most_recent(blog.articles, "blog", 5).each do |article| %>
    <div class="article">
      <h4><%= link_to article.title, article %></h4>
      <p><%= article.date.strftime('%B %d, %Y') %></p>
      <%= article.summary(25, '...') %>
    </div>
  <% end %> 
</div>