<% most_recent(blog.articles, "blog").each do |article| %>
  <div class="article">
    <h3><%= link_to article.title, article %></h3>
    <p><%= article.date.strftime('%B %d, %Y') %></p>
    <%= article.summary(25, '...') %>
  </div>
<% end %>